@use './mixins/mixins.scss' as *;
@use './mixins/utils.scss' as *;
@use './common/var.scss' as *;
@use './mixins/button' as *;

// 给按钮添加最基本名称 dora-button,并给出默认样式
@include b(button) {
  display: inline-block;
  margin: 0;
  font-weight: $button-font-weight;
  // 表示行高（行间距）与字体大小相同
  line-height: 1;
  color: $button-default-font-color;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: $button-default-background-color;
  border: $border-base;
  border-color: $button-default-border-color;
  outline: none;
  box-sizing: border-box;
  transition: 0.1s;
  // 用于设定表单空间(如按钮、输入框等)的外观。它可以改变表单控件的默认外观，使其更加具有自定义样式
  // none: 隐藏外观 auto: 使用默认外观 text: 使元素看起来像是一个文本输入框 inherit: 规定应该从父元素继承 appearance 属性的值
  // appearance: none; 用于去除浏览器默认样式 button 呈现为按钮
  appearance: none;
  @include utils-user-select(none);

  // 相邻的同级按钮之间的间距
  & + & {
    margin-left: 10px;
  }
  // 设置按钮 padding 与字体大小 圆角
  @include button-size($button-padding-vertical, $button-padding-horizontal, $button-font-size, $button-border-radius);
  // 设置 hover与focus 即鼠标滑过与获取焦点状态下的样式，
  &:hover,
  &:focus {
    color: $color-primary;
    background-color: $color-primary-light-9;
    border-color: $color-primary-light-7;
  }
  // 鼠标左键按下时的样式、不松开
  &:active {
    color: mix($color-black, $color-primary, $button-active-shade-percent);
    border-color: mix($color-black, $color-primary, $button-active-shade-percent);
    outline: none;
  }
  // 这个是用于指定 火狐 浏览器中的样式的
  &::-moz-focus-inner {
    border: 0;
  }
  // 选择图标元素 ，使图标元素与文本有空隙
  & [class*='dora-icon-'] {
    & + span {
      margin-left: 5px;
    }
  }

  /* size */
  // 中等尺寸
  @include m(large) {
    @include button-size(
      $button-large-padding-vertical,
      $button-large-padding-horizontal,
      $button-large-font-size,
      $button-large-border-radius
    );
    @include when(circle) {
      padding: $button-large-padding-vertical;
    }
  }
  // small 尺寸
  @include m(small) {
    @include button-size(
      $button-small-padding-vertical,
      $button-small-padding-horizontal,
      $button-small-font-size,
      $button-small-border-radius
    );
    @include when(circle) {
      padding: $button-small-padding-vertical;
    }
  }

  /* type */
  // 按钮表示的状态
  @include m(primary) {
    @include button-variant($button-primary-font-color, $button-primary-background-color, $button-primary-border-color);
  }
  @include m(success) {
    @include button-variant($button-success-font-color, $button-success-background-color, $button-success-border-color);
  }
  @include m(warning) {
    @include button-variant($button-warning-font-color, $button-warning-background-color, $button-warning-border-color);
  }
  @include m(danger) {
    @include button-variant($button-danger-font-color, $button-danger-background-color, $button-danger-border-color);
  }
  @include m(info) {
    @include button-variant($button-info-font-color, $button-info-background-color, $button-info-border-color);
  }

  /* other */
  @include when(plain) {
    &:hover,
    &:focus {
      color: $color-primary;
      background: $color-white;
      border-color: $color-primary;
    }

    &:active {
      color: mix($color-black, $color-primary, $button-active-shade-percent);
      background: $color-white;
      border-color: mix($color-black, $color-primary, $button-active-shade-percent);
      outline: none;
    }
  }
  // 按钮状态为 active 时的样式
  @include when(active) {
    color: mix($color-black, $color-primary, $button-active-shade-percent);
    border-color: mix($color-black, $color-primary, $button-active-shade-percent);
  }
  // 按钮状态为 disabled 时的样式
  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $button-disabled-font-color;
      cursor: not-allowed;
      background-color: $button-disabled-background-color;
      background-image: none;
      border-color: $button-disabled-border-color;
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        color: $button-disabled-font-color;
        background-color: $color-white;
        border-color: $button-disabled-border-color;
      }
    }
  }
  // 按钮状态为 loading 时的样式
  @include when(loading) {
    position: relative;
    pointer-events: none;

    &::before {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      pointer-events: none;
      background-color: rgb(255 255 255 / 35%);
      border-radius: inherit;
      content: '';
    }
  }
  @include when(round) {
    padding: 12px 23px;
    border-radius: 20px;
  }
  @include when(circle) {
    padding: $button-padding-vertical;
    border-radius: 50%;
  }
}
