:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  /* --vp-home-hero-name-background: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%); */
  --vp-home-hero-name-background: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);

  /* 图标背景 */
  /* --vp-home-hero-image-background-image: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%); */
  --vp-home-hero-image-background-image: linear-gradient(135deg, #3c8ce7 10%, #00eaff 100%);
  --vp-home-hero-image-filter: blur(150px);
  --vp-button-brand-bg: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);

  /* brand按钮 */
  --vp-button-brand-border: #abdcff;
  --vp-button-brand-bg: #0396ff;

  --vp-button-brand-hover-border: #abdcff;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #0396ff;

  --vp-button-brand-active-border: #abdcff;

  /* 主题基色 */
  --vp-c-brand: #0396ff;
  --vp-c-brand-light: #0396ff;
  --vp-c-brand-dark: #0396ff;
}

img {
  border-radius: 50%;
}
/* .vp-doc table {
  margin-top: 8px;
    overflow: hidden;
    width: 100%;
    border: 1px solid #8c8c8c;
    border-spacing: 0;
    border-radius: 8px;
    text-align: left;
    transition: all 0.3s;
    font-size: 14px;
}
.vp-doc th {
    padding-left: 8px;
    font-weight: 600;
    text-align: left;
    background-color: #e8e8e8;
    line-height: 44px;
} */

/* @include b(table) {
  margin-top: $space-m;
  overflow: hidden;
  width: 100%;
  // min-width: 800px;
  border: 1px solid $color-info;
  border-spacing: 0;
  border-radius: $border-radius-large;
  text-align: left;
  transition: all 0.3s;
  font-size: $font-size-base;
  tr:hover {
    background-color: $color-info-light;
  }
  th {
    padding-left: $space-m;
    font-weight: 600;
    text-align: left;
    background-color: $color-info-light;
    line-height: 44px;
  }
  td {
    padding: 10px $space-m;
    max-width: 240px;
    border-top: 1px solid mix($color-white, $color-info, 20%);
    text-align: left;
    transition: border;
    @include when(doraType){
      color: #1fbbc3;
    }
  }
} */