@use 'config' as *;
@forward 'config';

/* BEM
 --------------------------
为类名添加必要前缀，以便符合 BEM 规范
*/

/* 拼接命名空间 */
@mixin b($block) {
  $B: $namespace + '-' + $block !global;

  .#{$B} {
    @content;
  }
}
// 修饰符 当传递修饰符时，会自动拼接修饰符前缀，并将样式放在根目录中，
@mixin m($modifier) {
  $selector: &;
  $currentSelector: '';
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + $modifier-separator + $unit + ','};
  }

  /* @at-root 表示将内容渲染到根部 而不是嵌套 */
  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}

// 状态 当传递状态时，会自动拼接状态前缀，并将样式放在根目录中
@mixin when($state) {
  @at-root {
    &.#{$state-prefix + $state} {
      @content;
    }
  }
}
